<div class="content">
    <!-- library presentation -->
    <%= Cd.render('intro.ejs') %>

    <!-- quick usage -->
    <%= Cd.render('usage.ejs') %>

    <!-- how it works -->
    <%= Cd.render('features.ejs') %>

    <!-- Api -->
    <%= Cd.render('api.ejs') %>

    <!-- StdLib -->
    <%= Cd.render('stdLib/intro.ejs') %>

    <!-- last notes -->
    <%= Cd.render('notes.ejs') %>    
</div>