<div class="header">
  <a href="<%= Cd.proj.url %>">
    <img class="tm-icon" src="<%= Cd.proj.icon %>" alt="<%= Cd.proj.name %>">
    <div class="name"><%= Cd.proj.name %><span>.<%= Cd.proj.lang %></span></div>
    <div class="description"><%= Cd.proj.desc %></div>
  </a>
</div>